@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');


/* Variables */

:root{
    --purple-dark:#883AE1;
    --purple-light:#e6d6fc;
    --very-light-grey:#efeaf0;
    --white-color-1:#fafaf9;
    --white-color-2:#ffff;
    --black-dark:#20293a;
    --grey-dark:#6c727f;
}
/* Removing Defualt Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Add some styles for body*/
body {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Sora', sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 4rem;
    background-color: var(--white-color-1);
}


.wrapper{
    border-radius: 12px;
    padding: 1rem;
    background-color: var(--white-color-1);
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    width: 350px;
    margin: 8rem auto;
}

img{
    display: block;
    width: 100%;
    border-radius: 12px;
}

span{
    display: block;
    width: fit-content;
    background-color: var(--purple-light);
    color: var(--purple-dark);
    margin: 1rem 0;
    font-size: 0.625rem;
    font-weight: 600;
    padding: 0.2rem 1rem;
    border-radius: 24px;
}

h2{
    font-size: 1.125rem;
    margin-bottom: 0.4rem;
    color: var(--black-dark);
}



p{
    color: var(--grey-dark);
    font-size: 0.875rem;
}

.content{
    border-bottom: 1px solid var(--very-light-grey);
    padding-bottom: 1rem;
}

.author{
    margin-top: 1rem;
}

@media screen and (min-width: 640px) {

}